<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                                                   :style="userBar">
                    {{ userHP }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                                                   :style="monsterBar">
                    {{ monsterHP }}
                </div>
            </div>
        </div>
    </section>
    <section v-if="!show" class="row controls">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="healing">HEAL</button>
            <button id="give-up" @click="show = !show">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <template v-for="attack in attackList">
                    <template v-for="(value, key, idx) in attack">
                    <li v-if="key == 'user' " class="player-turn">
                        Player hits monster for {{ value }}
                    </li>
                    <li v-if="key == 'heal' " class="player-turn">
                        Player heals for {{ value }}
                    </li>
                    <li v-if="key == 'monster' " class="monster-turn">
                        Monster hits player for {{ value }}
                    </li>
                    </template>
                </template>
            </ul>
        </div>
    </section>

    <section id="testSection">
        <hr>
        <button @click="show = !show">Toggle Gamestate</button>
        <p>special: {{ special }}</p>
</div>
</body>
<script type="text/javascript" src="js/lib/vue.js" async></script>
<script type="text/javascript" src="js/scripts.js"></script>
</html>